<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/37cac83b98.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Comfy House</title>
  </head>

  <body>
    <div class="main">
     {{>navbar}}
      <header class="hero">
        <div class="banner">
          <h1>FURNITURE COLLECTION</h1>
          <button>SHOP NOW</button>
        </div>
      </header>
    </div>
    <!-- PRODUCTS -->
    <section class="products">
      <!-- PRODUCTS TITLE -->
      <div class="section_title">
        <h2>Our Products</h2>
      </div>

      <div class="products_center">
      </div>
    </section>
    <!-- CART -->
    <div class="cart_overlay">
      <div class="cart_open">
        <span class="close_cart">
          <i class="fa fa-window-close"></i>
        </span>
        <h2>Your Cart</h2>
        <div class="cart_content">
          <!-- <div class="cart_item">
                    
                </div> -->
          <div class="cart_footer">
            <h3>Your Total: Rs <span class="cart_total">0</span></h3>
            <button class="clear_cart"> Clear Cart</button>
          </div>
        </div>
      </div>

    </div>
  </body>
  <script src="js/index.js"></script>

</html>